.search {
    background-color: #2b3566;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.search p {
    color: #9da5d1;
}

.searchContainer {
    display: flex;
    gap: .5rem;
}

.searchContainer input,
.searchContainer button {
    padding: .5rem;
    border-radius: 3px;
    border: none;
    color: #2b3566;
}

.searchContainer button {
    cursor: pointer;
    background-color: #0e1129;
}